/* Remove margins so that gradient covers whole screen */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  

body {
    text-align: center;
    font-family: "Garamond", sans-serif;
    background: 
        linear-gradient(rgba(240,180,140, 0.5), rgba(100 , 100, 100, 0.5)), /* Semi-transparent black overlay */
        url('/Trailblazer/images/parchment.jpg') center center no-repeat;
    background-size: cover
}

canvas {
    border: 1px solid #aaa;
}